@font-face {
  font-family: 'TT Hoves';
  src: url('../assets/fonts/TTHoves-ExtraLight.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('../assets/fonts/TTHoves-Light.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('../assets/fonts/TTHoves-Regular.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('../assets/fonts/TTHoves-DemiBold.ttf');
  font-weight: 700;
}

body {
  font-family: 'TT Hoves';
  font-size: 16px;
  font-weight: 400;
}
