.wrapper {
  width: 100%;
  overflow: hidden;
}

._container {
  width: 1170px;
  margin: 0 auto;

  @media (max-width: 1220px) {
    width: 1000px;
  }

  @media (max-width: 1050px) {
    width: 850px;
  }

  @media (max-width: 890px) {
    width: 650px;
  }

  @media (max-width: 680px) {
    width: 520px;
  }

  @media (max-width: 540px) {
    width: 420px;
  }

  @media (max-width: 440px) {
    width: 380px;
  }

  @media (max-width: 400px) {
    width: 340px;
  }
}
